:root {
    --mb-base-bg: #0d045f;
    --mb-base-color: #dee2e6;
    --mb-sidebar-bg: #0f0661;
    --mb-sidebar-color: #ee4444;
    --mb-sidebar-a-color: #420bca;
    --mb-sidebar-a-hover: #3071a9;
    --mb-well-bg: #242279;
    --mb-well-color: var(--mb-base-color);
    --mb-well-h1-bg: #1d146f;
    --mb-well-h1-color: #ee4444;
    --mb-author-color: #ee4444;
    --mb-comment-bg: #e0e0e0;
    --mb-comment-author: #fe5454;
}

body {
    background-color: var(--mb-base-bg);
    color: var(--mb-base-color);
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

/* WELL ================================== */
.well {
    margin: 10px 0px 5px 0px;
    padding: 5px 10px 5px 10px;
    background: var(--mb-well-bg);
    color: var(--mb-well-color);
    border-radius: 5px;
}

.well h1 {
    color: var(--mb-well-h1-color);
    background: var(--mb-well-h1-bg);
    margin-top: 5px;
    font-size: 1em;
    font-weight: bold;
}

/* SIDEBAR ================================== */
.sidebar h1 {
    color: var(--mb-sidebar-color);
    font-size: 1.3em;
}

.sidebar a {
    color: var(--mv-sidebar-a-color);
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: var(--mb-sidebar-a-hover);
}

/* AUTHOR ================================== */
.author {
    color: var(--mb-author-color);
}

.author a {
    color: var(--mb-author-color);
}

/* COMMENTS ================================== */
.mb-oldcomment {
    background-color: var(--mb-comment-bg);
    margin-left: 15px;
    padding-bottom: 10px;
}
.mb-oldcommant author {
    color: var(--mb-comment-author);
    font-weight: heavy;
}
.mb-oldcommant date {
}
.mb-content-footer {
    font-size: smaller;
    text-align: right;
}

/* BOOKS ================================== */
.mb-booknav {
    font-size: larger;
    font-weight: heavy;
}
.mb-bookTable {
    border-collapse: collapse;
    border: 1px solid #c0c0c0;
    width: 100%;
}
.mb-bookTable td {
    border: 1px solid #c0c0c0;
}
td.mb-bookCover {
    width: 20%;
    text-align: center;
    padding: 5px 0 5px 0;
}
td.mb-bookDescription {
    width: 80%;
    align: top;
}
.mb-bookTitle {
    font-weight: heavy;
    font-size: +1;
}
.mb-bookAuthor {
    font-size: -1;
}
.mb-bookComment {
}

/* MISC ================================== */
table.mb {
    border: 1px;
    border-color: black;
    border-style: solid;
    background-color: #f0f0e0;
}

table.mb tr th {
    text-align: center;
    width: 6em;
}

table.mb tr td {
    border: 1px solid black;
    text-align: center;
}

#herbal-toc {
    float: right;
    border: 2px solid #c0c0c0;
    margin: 10px;
    padding: 5px;
}

table.slvideo {
    border: 1px solid #c0c0c0;
}
td.slvideo-desc {
    padding: 15px;
}
