<br clear="all"/>
<h3>Previous books:</h3>
<a class="mb-bookLink" href="http://blog.misterblue.com/Books/Book-1999.html">
    1999
</a>
,
<a class="mb-bookLink" href="http://blog.misterblue.com/Books/Book-2000.html">
    2000
</a>
, 
<a class="mb-bookLink" href="http://blog.misterblue.com/Books/Book-2001.html">
    2001
</a>
,
<a class="mb-bookLink" href="http://blog.misterblue.com/Books/Book-2002.html">
    2002
</a>
,
<a class="mb-bookLink" href="http://blog.misterblue.com/Books/Book-2003.html">
    2003
</a>
,
<a class="mb-bookLink" href="http://blog.misterblue.com/Books/Book-2004.html">
    2004
</a>
