{% comment %}
    Display one post.
    This is used on a page (like in the main page blog loop) to display the blog entries.
    The parameters:
        thepost: the control structure for the post (with date, url, ...)
        thecontent: the content of the post (often post.content)
        ownpage: either 'yes' or 'no' if this is displaying the article on its own page.
            If on own page, comments are expanded otherwise they are summarized.
{% endcomment %}
{% assign thepost = include.thepost %}
{% assign thecontent = include.thecontent %}
{% assign ownpage = include.ownpage %}

<div class="article">
    <div class="well">
        <h1><a href="{{ site.baseurl}}{{ thepost.url }}">
            {{ thepost.date | date: "%b %-d, %Y" }} - {{ thepost.title }}</a></h1>
        <div class="post-content">
            {{ thecontent }}

            {% if ownpage == "yes" %}
                {% if thepost.comments %}
                    <hr>
                    <h3>Comments:</h3>
                    {% for comment in thepost.comments %}
                        <div class="mb-oldcomment">
                            <span class="author">{{ comment.author }}</span>
                            ( <span class="date">{{ comment.date }}</span> ):
                            {{ comment.content }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% if thepost.commentable %}
                        {% if site.disqus != '' %}
                            <div id="disqus_thread">
                                <noscript>Please enable JavaScript to view the
                                    <a href="http://disqus.com/?ref_noscript">
                                        comments powered by Disqus.</a>
                                </noscript>
                                <a href="http://disqus.com" class="dsq-brlink">
                                    comments powered by 
                                    <span class="logo-disqus">Disqus</span>
                                </a>
                            </div>
                        {% elsif site.isso != '' %}
                            <section id="isso-thread"></section>
                        {% endif %}
                    {% endif %}
                {% endif %}

            {% else %}
                {% if site.disqus != '' %}
                    <p class="author">
                        <a href="{{ site.baseurl }}{{ post.url }}#disqus_thread"
                            data-disqus-identifier="{{ post.url | slugify }}">
                                Comments
                        </a>
                    </p>
                {% elsif site.isso != '' %}
                    <p class="author">
                        <a href="{{ site.baseurl }}{{ post.url }}{{ site.isso_suffix }}#isso-thread">
                            Comments
                        </a>
                    </p>
                {% endif %}
            {% endif %}

            <div class="mb-content-footer">
                {{ thepost.author.display_name }}, {{ thepost.date }}
                {% if thepost.categories %}
                    {% assign first = "first" %}
                    {% for cat in thepost.categories %}
                        {% if site.data.categories.display-categories contains cat %}
                            {% if first == "first" %}
                                ,
                            {% else %}
                                /
                            {% endif %}
                            {{ site.data.categories.categories[cat].label }}
                            {% assign first = "second" %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>

        </div>
    </div>
</div>
