{% comment %}
    Display one post.
    This is used on a page (like in the main page blog loop) to display the blog entries.
    The parameters:
        thepost: the control structure for the post (with date, url, ...)
        thecontent: the content of the post (often post.content)
        ownpage: either 'yes' or 'no' if this is displaying the article on its own page.
            If on own page, comments are expanded otherwise they are summarized.
{% endcomment %}
{% assign thepost = include.thepost %}
{% assign thecontent = include.thecontent %}
{% assign ownpage = include.ownpage %}

{% assign pageabsurl = thepost.url | prepend:site.baseurl | prepend:site.url %}

{% assign disqusTag = '' %}
{% if site.disqus != '' %}
    {% assign disqusTag = '#disqus_thread' %}
{% endif %}

<div class="article">
    <div class="well">
        <h1><a href="{{ pageabsurl }}">
            {{ thepost.date | date: "%b %-d, %Y" }} - {{ thepost.title }}</a></h1>
        <div class="post-content">
            {{ thecontent }}

            {% include comments.html thepost=thepost ownpage=ownpage %}

            <div class="mb-content-footer">
                {{ thepost.author.display_name }}, {{ thepost.date }}
                {% if thepost.categories %}
                    {% assign first = "first" %}
                    {% for cat in thepost.categories %}
                        {% if site.data.categories.display-categories contains cat %}
                            {% if first == "first" %}
                                ,
                            {% else %}
                                /
                            {% endif %}
                            {{ site.data.categories.categories[cat].label }}
                            {% assign first = "second" %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>

        </div>
    </div>
</div>
